
###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/bundles/
/app/var/*
/app/vendor/
/Symfony2-coding-standard/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/app/.phpunit
/app/.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/app/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/app/node_modules/
/build/
/app/npm-debug.log
/app/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> ide/phpstorm ###
/.idea
###< ide/phpstorm ###
###> squizlabs/php_codesniffer ###
/app/.phpcs-cache
/app/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpunit/phpunit ###
/app/phpunit.xml
/app/.phpunit.result.cache
###< phpunit/phpunit ###

/app/composer.lock
/app/package-lock.json
